*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    overflow-y: hidden;
    color: #000000d0;
}
body{
    background-color:#eff0f3 ;
}
header{
    text-align: center;
    padding: 10px;
    background-color: #eff0f3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header> p{
    font-size: 20px;
    font-weight: 700;
    
}
main{
    display: flex;
    flex-direction: row;
}
main > section{
    width: 33.33%;
    height: 85vh;
}


.qualification{
    background-color:rgb(222, 224, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.qualification > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    gap: 10px;
    font-weight: 800;
}
input{
    height: 30px;
    width: 120px;
    outline: none;
    border: none;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: 800;
    background-color: #eff0f3;
}
select{
    border: none;
    outline: none;
    border-radius: 3px;
    height: 30px;
    width: 120px;
    font-weight: 600;
    background-color: #eff0f3;
}
option{
    font-weight: 600;
}
.qualification-buttons{
    font-family:'Lato', sans-serif;
    font-size: 18px;
    width: 200px;
    height: 30px;
    padding: 5px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eebbc3;
    color:#232946 ;
    margin-left: 50px;
}
.qualification-buttons:hover{
    transition: all 0.5s;
    color: #eebbc3;
    background-color:#232946
}
#send-button{
    color: #eebbc3;
    background-color:#232946 ;
}
#send-button:hover{
    background-color: #eebbc3;
    color:#232946 ;
}
.htp-button{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #eebbc3;
    background-color:#232946 ;
}
.generated-div-user-area {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eff0f3;
    
  }
  
  .headline-user-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
  }
  
  #generated-div-user {
    margin-top: auto;
    margin-bottom: auto;
  }




  .generated-div-comp-area {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eff0f3;
    
  }
  
  .headline-comp-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
  }
  
  #generated-div-comp {
    margin-top: auto;
    margin-bottom: auto;
  }
  
h2{
    text-decoration: underline;
    text-decoration-color:#eebbc3 ;
}






